{% extends 'VStorage/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            {% csrf_token %}
            <div class="btn-group-vertical col-md-12">
                <button type="submit" formaction="{% url 'store:products' %}" onfocus="this.blur()" class="btn btn-default btn-lg btn-block">Каталог</button>
                <button type="submit" formaction="{% url 'store:add_product' %}" onfocus="this.blur()" class="btn btn-default btn-lg btn-block">Добавить товар</button>
                <button type="submit" formaction="{% url 'store:new_order' %}" onfocus="this.blur()" class="btn btn-default btn-lg btn-block">Оформить заказ</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
