{% extends 'VStorage/base.html' %}
{% block content %}
<br><br><br>
<div class="col-md-4 col-md-offset-4">
    <div class="form-group">
        <form method="post" action="{% url 'store:login' %}" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Логин</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Введите логин">
            </div>
            <div class="form-group">
                <label for="id_password">Пароль</label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Пароль">
            </div>
            <button type="submit" class="btn btn-success">Войти</button>
        </form>
    </div>
    {%if error%}
    <div class="text-center text-danger">
        {{error}}
    </div>
</div>
{%endif%}
{% endblock %}
