header {
    background: #90EEA9;
    height: 40px;
    margin-bottom: 5%;
}

div {
    /*border: 1px solid;*/
}

#header_row .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0
}

#header .col-md-3,
.col-md-offset-11,
.col-md-2,
.col-md-offset-5 {
    height: 100%;
}

#top_text {
    height: 100%;
    /*border: 1px solid;
    color: red;*/
}

#last_block {
    height: 100%;
}

#last_block .btn {
    height: 100%;
    /*border: 1px solid;
    color: green;*/
}

#exit_form {
    height: 100%;
    /*border: 1px solid;
    color: yellow;*/
}

thead {
    background-color: lavender;
}

tbody {
    background-color: WhiteSmoke;
}
